#container {
	height: 90px;
	width: 612px;
	border-width: 1px;
	border: medium solid #999;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 10px;
	position: absolute;
	transform: translate(0px, 420px);
	font-size: 14px;
  background-color: white;

}
.counties {
    stroke: #000;
    stroke-width: .15px;
    stroke-linecap: round;
}

.map {
    background-color: white;
    border: medium solid #999;
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
}

.chartBackground {
    fill: white;
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 0.5em;
    fill: #999;
}

.dropdown {
    position: absolute;
    top: 460px;
    left: 15px;
    z-index: 10;
    font-size: .75em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}
.infolabel {
    position: absolute;
    height: 35px;
    min-width: 100px;
    color: #fff;
    background-color: gray;
    border: solid thin #fff;
    padding: 0px 5px 5px 5px;
    font-size: 8pt;
}

.infolabel h1 {
    margin: 0p 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    font-size: 10pt;
}

option {
    font-weight: normal;
}

body{
    background-color: #d5d5d5;
}
